
/*Main*/
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo {
  position: fixed;
  z-index: -1;
  width: 1800px;
  height: 100vh;
  object-fit: cover;
}

.filtro_fondo {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la barra de navegación */


/*Estilo para el formulario de contacto*/
.form_contacto{
  width: 50rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:rgb(89, 55, 13, 0.8);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px #2f2f2f;
  margin-bottom: 2.4rem;
}
.form_contacto div{
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 1rem;

}
.form_contacto label{
  color:#fff;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
}
.form_contacto label input{
  width: 100%;
  height: 2.2rem;
  font-size: 1.2rem;
  width: 20rem;
}
.boton_envio{
  margin: 1.5rem 0 1rem 0;
  width: 20rem;
  height: 2rem;
  border-radius: .4rem;
  font-size: 1rem;
  border:none;
  box-shadow: 3px 3px 5px #2f2f2f;

}
.form_contacto .mensaje_form{
  display: flex;
  max-width: 100%;
  width: 20rem;
  height: 22rem;
  max-height: 15.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
}
@media only screen and (max-width: 999px) {
  .form_contacto{
    max-width: 20rem;
    overflow: hidden;
    align-self: center;
    justify-content: center;
  }
  .form_contacto div{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .form_contacto label{
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .form_contacto label input{
    width: 100%;
  }
  .boton_envio{
    width: 10rem;
  }
}
section{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.tarjetas_nosotros{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.tarjeta_integrante{
  margin: 2rem;
  user-select: none;
  background-color: #ececec;
  border-radius: .8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: .3rem;
  width: 14rem;
  box-shadow: 3px 3px 5px #2f2f2f;
}
.imagen_integrante{
  display: flex;
  width: 100%;
  height: 15rem;
  justify-content: center;
  border-radius: .8rem;
  overflow: hidden;
}
.imagen_integrante img{
  width: 100%;
  height: auto;
}
.nombre_icono_integrante{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 1rem;
}
.nombre_integrante{
  font-size: 1.3rem;
}
.icono_integrante{
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: 100rem;
  padding: .3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 3px #2f2f2f;
  cursor: pointer;
}
section h3{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: rgb(210, 179, 54);
}
