.productos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  .contenedor-producto{
    width: 270px;
    height: 390px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #ffffff;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all .6s;
  }
  .contenedor-producto:hover{
    height: 390px;
    background-color: rgb(255, 102, 0);
  }
  .contenedor-producto:hover > .div-nombre-precio{
    display: flex;
  }
  .div-imagen-producto{
    width: 100%;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
  }
  .img-producto{
    width: 100%;
    height: 284px;
    overflow: hidden;
  }
  .div-nombre-precio{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
