/*Main*/
.main{
  height: 100vh;
}
.categorias {
  width: 70%;
  height: auto;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categoria {
  width: 15rem;
  height: 13rem;
  margin: 1rem;
  border: #332917 2px solid;
  box-shadow: #332917 4px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
}

.categoria:hover {
  transform: scale(1.03);
  border: #67532e 2px solid;
  box-shadow: #67532e 4px 4px 8px;
  transition: all 0.4s;
}

.categoria:hover > .filtro_cate {
  background-color: rgba(0, 0, 0, 0.2);
}

.filtro_cate {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.cate_tazas {
  background: url(./multimedia/menu-categorias/tazas.png) center/ 100% no-repeat;
}

.cate_remeras {
  background: url(./multimedia/menu-categorias/remeras.png) center/ 100% no-repeat;
}

.cate_accesorios {
  background: url(./multimedia/menu-categorias/Accesorios.png) center/ 100%
    no-repeat;
}

.cate_comics {
  background: url(./multimedia/menu-categorias/comics.png) center/ 100% no-repeat;
}

.cate_figuras {
  background: url(./multimedia/menu-categorias/figuras.png) center/ 100% no-repeat;
}

.cate_mangas {
  background: url(./multimedia/menu-categorias/mangas.png) center/ 100% no-repeat;
}

.cate_simpson_mania {
  background: url(./multimedia/menu-categorias/simpsonMania.png) center/ 100%
    no-repeat;
}

.cate_no_def {
  background: url(./multimedia/menu-categorias/armascoleccion.jpg) center/ 100%
    no-repeat;
}