
/*Main*/
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo {
  position: fixed;
  z-index: -1;
  width: 1800px;
  height: 100vh;
  object-fit: cover;
}

.filtro_fondo {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #51320c;
  color: #fff;
  padding-top: 5px 1px;
  /* padding: 10px 10px 20 px; */
  display: flex;
  justify-content: space-around;
}
.a-nav{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: .5rem 1rem;
  transition: all .3s;
}


.menu-trigger {
  /* display: inline-block; */
  cursor: pointer;
  /* border: 1px solid #ccc; */
  padding: 5px;
  margin-right: 10px;
  font-size: 1.5rem;  
}

.menu-list {
  display: none;
  list-style: none;
  padding: 2px;
  margin-left: 10px;
  position: absolute;
  background-color: #51320c;
  top: 100%;
  width: 250px;
  font-size: 1.2rem;
  z-index: 1;
  /* border: 1px solid #ccc; */


}

.menu-list li {
  padding: 5px;
  cursor: pointer;
  text-align:center;
  /* border: 1px solid #ccc; */
  
}

/* Estilos para resaltar elementos al pasar el cursor */
.menu-list li:hover {
  background-color: #f0f0f0;
  color: #000000;
}

/* Estilos para el contenido (secciones) */
#contenido {
  margin: 20px;
}

section-1 {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.menu-seccion{
  text-decoration: none;
  color: #fff;
}

.menu-seccion:hover{
  color: #000;
}

/*Estilo para el formulario de contacto*/
.form_contacto{
  width: 60%;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgb(89, 55, 13, 0.8);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px #2f2f2f;
  margin-bottom: 2.4rem;
}
.form_contacto div{
  width: 45%;
}
.form_contacto p{
  color:#fff;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
}
.form_contacto input{
  width: 100%;
  height: 2.2rem;
  font-size: 1.2rem;
}
.boton_envio{
  margin: 1.5rem 0 1rem 0;
}
.form_contacto div textarea{
  max-width: 100%;
  width: 100%;
  height: 22rem;
  max-height: 15.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}