/*En esta hoja de estilo estaran los estilos predeterminados para todas las pag de html por ende debe estar linkiado a todas las pag*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Macondo', cursive;
}

* a {
  text-decoration: none;
  color: #000;
}

* li {
  list-style: none;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.cont_body {
  max-width: 1800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header {
  max-width: 1800px;
}

.main {
  margin-top: 9rem;
  transition: margin .3s;

}