/*Diseño Header*/
.header {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  transition: height 0.3s;
  box-shadow: #000 3px 3px 6px;
}

.cont_header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  box-shadow: #000 2px 2px 6px;
}

.logo {
  width: 10rem;
  height: 7rem;
  background: url(./imagenes/logo-tienda-tierra-media/logo-tierra-media.png)
    center/100% no-repeat;
  margin-left: 1rem;
  user-select: none;
}

.logo:hover {
  transform: scale(1.03);
}

.burger_carrito {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_header {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgb(161, 136, 38);
  box-shadow: #332917 2px 2px 6px;
  margin-right: 1rem;
  cursor: pointer;
}

.btn_header:hover {
  box-shadow: rgb(161, 136, 38) 2px 2px 6px;
  background: rgb(210, 179, 54);
}

.bi-cart3,
.bi-list {
  font-size: 2rem;
  color: #000000;
  font-weight: 1200;
}

/*Diseño Nav*/
.nav {
  width: 100%;
  height: 3rem;
  z-index: -1;

  background: rgb(161, 136, 38);
}

.ul_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.li_ul_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.li_ul_nav:hover {
  background-color: rgb(216, 187, 69);
  cursor: pointer;
}

/*Main*/
.main {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./imagenes/fondos/fondo.jpeg) center/ 100% no-repeat fixed;
}

.filtro_fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorias {
  width: 100%;
  height: auto;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categoria {
  width: 15rem;
  height: 13rem;
  margin: 1rem;
  border: #332917 2px solid;
  box-shadow: #332917 4px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
}

.categoria:hover {
  transform: scale(1.03);
  border: #67532e 2px solid;
  box-shadow: #67532e 4px 4px 8px;
  transition: all 0.4s;
}

.categoria:hover > .filtro_cate {
  background-color: rgba(0, 0, 0, 0.2);
}

.filtro_cate {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.cate_tazas {
  background: url(./imagenes/menu-categorias/tazas.png) center/ 100% no-repeat;
}

.cate_remeras {
  background: url(./imagenes/menu-categorias/remeras.png) center/ 100% no-repeat;
}

.cate_accesorios {
  background: url(./imagenes/menu-categorias/Accesorios.png) center/ 100%
    no-repeat;
}

.cate_comics {
  background: url(./imagenes/menu-categorias/comics.png) center/ 100% no-repeat;
}

.cate_figuras {
  background: url(./imagenes/menu-categorias/figuras.png) center/ 100% no-repeat;
}

.cate_mangas {
  background: url(./imagenes/menu-categorias/mangas.png) center/ 100% no-repeat;
}

.cate_simpson_mania {
  background: url(./imagenes/menu-categorias/simpsonMania.png) center/ 100%
    no-repeat;
}

.cate_no_def {
  background: url(./imagenes/menu-categorias/noDefinido.png) center/ 100%
    no-repeat;
}

/*Inicia el footer*/
.footer {
  display: flex;
  width: 100%;
  height: 20vh;
  z-index: 15;
  box-shadow: -2px -2px 6px #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
}

.cont_redes {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul_footer {
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: space-evenly;
}

.li_ul_footer {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(161, 136, 38);
  border-radius: 50%;
  box-shadow: #000000 1px 1px 10px;
  cursor: pointer;
}

.li_ul_footer:hover {
  background: rgb(248, 214, 80);
}

.li_ul_footer a i {
  color: #181818;
  font-size: 1.8rem;
}

h5 a {
  color: rgb(248, 214, 80);
}
