/*En esta hoja de estilo estaran los estilos predeterminados para todas las pag de html por ende debe estar linkiado a todas las pag*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Macondo', cursive;
}

* a {
  text-decoration: none;
  color: #000;
}

* li {
  list-style: none;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.cont_body {
  max-width: 1800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header {
  max-width: 1800px;
}

.main {
  width: 100%;
  margin-top: 9rem;
  transition: margin .3s;
  background: url(./multimedia/fondos/fondo.jpeg) center/ 100% no-repeat fixed;
}
/*Diseño Header*/
.header {
  width: 100%;
  height: 9rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  transition: height 0.3s;
  box-shadow: #000 3px 3px 6px;
}

.cont_header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  box-shadow: #000 2px 2px 6px;
  z-index: 15;
}
.titulo{
  color: rgb(210, 179, 54);
  margin-right: 6.7rem;
}
.logo {
  width: 10rem;
  height: 7rem;
  background: url(./multimedia/logo-tienda-tierra-media/logo-tierra-media.png) center/100% no-repeat;
  user-select: none;
}

.logo:hover {
  transform: scale(1.03);
}

.burger_carrito {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_header {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgb(161, 136, 38);
  box-shadow: #332917 2px 2px 6px;
  cursor: pointer;
}

.btn_header:hover {
  box-shadow: rgb(161, 136, 38) 2px 2px 6px;
  background: rgb(210, 179, 54);
}

.bi-cart3,
.bi-list {
  font-size: 2rem;
  color: #000000;
  font-weight: 1200;
}

/*Diseño Nav*/
.nav {
  width: 100%;
  height: 2rem;
  z-index: 10;

  background: rgb(161, 136, 38);
}

.ul_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.li_ul_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.li_ul_nav:hover {
  background-color: rgb(216, 187, 69);
  cursor: pointer;
}
/*Inicia el footer*/
.footer {
  display: flex;
  width: 100%;
  height: 20vh;
  z-index: 15;
  box-shadow: -2px -2px 6px #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
}

.cont_redes {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul_footer {
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: space-evenly;
}

.li_ul_footer {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(161, 136, 38);
  border-radius: 50%;
  box-shadow: #000000 1px 1px 10px;
  cursor: pointer;
}

.li_ul_footer:hover {
  background: rgb(248, 214, 80);
}

.li_ul_footer a i {
  color: #181818;
  font-size: 1.8rem;
}

h5 a {
  color: rgb(248, 214, 80);
}
